body,html {
    margin:0;
    height:100%;
    width:100%;
}

#map {
	height: 100%;
	text-align: center;
}

body {
	display: grid;
	grid-template-rows: 60px 225px 1fr ;
	grid-template-columns: 300px 1fr 400px;
	grid-template-areas: 
	"header header header"
	"sidebar content dashboard"
	"sidebar content dashboard"
	"footer footer footer";
}

.header {
	text-align: center;
    grid-area: header;
	padding:10px;
	background-color: #005687;
	color: white;
	font-size: 2em;
}

.legend {
    grid-area: legend;
}

.legend-inner {
    font-size: 0.8em;
	padding: 12px;
	/* background-color: gainsboro; */
	/* grid-area: legend; */
}

.nav {
	grid-area: nav;
	padding:10px;
	background-color: #444;
	color: white;
	font-size: 1.2em;
}

.sidebar {
	color: #444;
	grid-area: sidebar;
	padding:10px;
	background-color: #E0E0E0;
	overflow:initial; /* allows the sidebar to overflow with a scrollbar */
    z-index: 1
}

.sidebar-title {
    color: #333
}

.sidebar-item:hover {
	background-color: rgb(138, 167, 14);
}

.dashboard {
	grid-area: dashboard;
    background-color: #E0E0E0;
}

.content {
	grid-area: content;
	resize: horizontal;
	overflow: auto;
}

.footer {
    grid-area: footer;
    padding: 10px;
    background-color: #005687;
    color: white;
}

/* legend styles */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    min-width: 250px;
    min-height: 50px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.item {
    color: #ccc;
	margin:3px;
	padding: 10px;
	cursor: pointer;
}

.map-item {
    border: 1px solid #333;
    padding: 10px;
    background-color: #333;
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: rgb(182, 199, 245); /* background color of the card */
    border: 1px solid rgb(104, 131, 253); /* border width and color */
    margin: 5px; /* outer padding */
	cursor: pointer; /* change cursor to hand on hover */
    z-index: 2
}

.figure {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.figure {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Fonts */
.header {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.header {font-size: 180%;}
.sidebar-item {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.sidebar {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.sidebar-item {font-size: 80%;}


/* Dropdown Button */
.dropbtn {
    background-color: #005687;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    z-index: 3
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: grey;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: grey}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}